<div class="annotation-tool-container">
	<aside class="annotation-tool-aside">
		<h2>Annotations <a class="toggle-blobs">toggle blobs</a></h2>

		<div class="annotation-list">

			<figcaption class="annotation">
				<h3 class="clearfix">
					<span class="annotation-no">#1</span>
					<input class="annotation-title" type="text" placeholder="Annotation title">
				</h3>
				<textarea placeholder="Annotation details"></textarea>
				<button class="delete-annotation">Delete annotation</button>
			</figcaption>

			<figcaption class="annotation">
				<h3 class="clearfix">
					<span class="annotation-no">#2</span>
					<input class="annotation-title" type="text" placeholder="Annotation title">
				</h3>
				<textarea placeholder="Annotation details"></textarea>
				<button class="delete-annotation">Delete annotation</button>
			</figcaption>

			<figcaption class="annotation">
				<h3 class="clearfix">
					<span class="annotation-no">#3</span>
					<input class="annotation-title" type="text" placeholder="Annotation title">
				</h3>
				<textarea placeholder="Annotation details"></textarea>
				<button class="delete-annotation">Delete annotation</button>
			</figcaption>

		</div>
	</aside>
	<section class="annotation-tool-section">
		<h1>Design: <span class="page-title">Cute Cat</span></h1>
		<div class="prototype-container">
    		<div class="to-annotate">
    			<figure id="1">#1</figure>
    			<figure id="2">#2</figure>
    			<figure id="3">#3</figure>
				{{{content}}}
    		</div>
		</div>
	</section>
</div>
