* {
  /* So 100% means 100% */
  box-sizing: border-box; }

html.annotation-tool-html, body.annotation-tool-body {
  height: 100%; }

body.annotation-tool-body {
  background: #fcfcfc;
  color: #737373;
  font-family: sans-serif; }

div.annotation-tool-container {
  width: 100%;
  height: 100%;
  position: relative; }

aside.annotation-tool-aside {
  background: #f5f2f0;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  border-right: solid 2px rgba(51, 51, 51, 0.12); }
  aside.annotation-tool-aside h2 {
    padding: 16px;
    margin: 0;
    border-bottom: solid 2px rgba(51, 51, 51, 0.12);
    background: #fff; }
    aside.annotation-tool-aside h2 a {
      color: #3A9FAA;
      font-size: 16px;
      font-weight: normal;
      display: inline-block;
      text-align: right; }
      aside.annotation-tool-aside h2 a:hover {
        cursor: pointer;
        text-decoration: underline; }
  aside.annotation-tool-aside div.annotation-list {
    overflow-y: scroll;
    height: calc(100% - 58px); }
  aside.annotation-tool-aside figcaption.annotation {
    padding: 16px;
    background: #f5f2f0;
    border-bottom: solid 2px rgba(51, 51, 51, 0.12);
    -webkit-box-shadow: 0px 5px 5px 0px #3d3c3d;
    -moz-box-shadow: 0px 5px 5px 0px #3d3c3d;
    box-shadow: 0px 2px 5px 0px rgba(97, 97, 97, 0.5); }
    aside.annotation-tool-aside figcaption.annotation.selected {
      background: #eaf0f4; }
    aside.annotation-tool-aside figcaption.annotation h3 {
      padding: 0 0 16px;
      margin: 0;
      font-size: 16px; }
      aside.annotation-tool-aside figcaption.annotation h3 span {
        margin-right: 8px;
        float: left;
        display: inline-block;
        padding-top: 12px; }
      aside.annotation-tool-aside figcaption.annotation h3 input {
        width: 260px;
        height: 38px;
        float: left;
        padding: 0 8px;
        color: #737373 !important;
        font-size: 14px;
        border: 1px solid #737373;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: inset 3px 3px 30px -16px #434343;
        -moz-box-shadow: inset 3px 3px 30px -16px #434343;
        box-shadow: inset 3px 3px 30px -16px #434343; }
    aside.annotation-tool-aside figcaption.annotation textarea {
      width: 100%;
      min-height: 100px;
      font-size: 14px;
      color: #737373 !important;
      padding: 8px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: inset 3px 3px 30px -16px #434343;
      -moz-box-shadow: inset 3px 3px 30px -16px #434343;
      box-shadow: inset 3px 3px 30px -16px #434343; }
    aside.annotation-tool-aside figcaption.annotation button {
      width: 100%;
      height: 38px;
      border: 1px solid #d75361;
      color: #d75361;
      background: #fff;
      margin-top: 16px; }
      aside.annotation-tool-aside figcaption.annotation button:hover {
        border-color: #F0828E;
        color: #F0828E; }
      aside.annotation-tool-aside figcaption.annotation button:active {
        -webkit-box-shadow: inset 3px 3px 30px -16px #434343;
        -moz-box-shadow: inset 3px 3px 30px -16px #434343;
        box-shadow: inset 3px 3px 30px -16px #434343; }
      aside.annotation-tool-aside figcaption.annotation button:focus {
        outline: none; }

section.annotation-tool-section {
  position: absolute;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: 100%; }
  section.annotation-tool-section h1 {
    z-index: 100 !important;
    padding: 16px;
    margin: 0;
    font-size: 24px;
    border-bottom: solid 2px rgba(51, 51, 51, 0.12);
    z-index: 100;
    background: #fff; }
  section.annotation-tool-section img {
    display: block; }
  section.annotation-tool-section div.prototype-container {
    padding: 16px;
    height: calc(100% - 58px);
    -webkit-box-shadow: inset 3px 3px 30px -16px #434343;
    -moz-box-shadow: inset 3px 3px 30px -16px #434343;
    box-shadow: inset 3px 3px 30px -16px #434343; }
    section.annotation-tool-section div.prototype-container div.to-annotate {
      position: relative;
      display: inline-block; }
      section.annotation-tool-section div.prototype-container div.to-annotate figure {
        position: absolute;
        width: 50px;
        height: 50px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 18px 0 0;
        margin: 0;
        background: #ea2323;
        /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #ea2323 0%, #ea2323 39%, #ea2323 39%, rgba(255, 255, 255, 0) 71%, rgba(254, 255, 255, 0) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ea2323), color-stop(39%, #ea2323), color-stop(39%, #ea2323), color-stop(71%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(254, 255, 255, 0)));
        /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #ea2323 0%, #ea2323 39%, #ea2323 39%, rgba(255, 255, 255, 0) 71%, rgba(254, 255, 255, 0) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #ea2323 0%, #ea2323 39%, #ea2323 39%, rgba(255, 255, 255, 0) 71%, rgba(254, 255, 255, 0) 100%);
        /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #ea2323 0%, #ea2323 39%, #ea2323 39%, rgba(255, 255, 255, 0) 71%, rgba(254, 255, 255, 0) 100%);
        /* IE10+ */
        background: radial-gradient(ellipse at center, #ea2323 0%, #ea2323 39%, #ea2323 39%, rgba(255, 255, 255, 0) 71%, rgba(254, 255, 255, 0) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2323', endColorstr='#feffff',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */ }
        section.annotation-tool-section div.prototype-container div.to-annotate figure:hover {
          cursor: move; }
      section.annotation-tool-section div.prototype-container div.to-annotate figure:nth-child(1) {
        top: 30px;
        left: 488px; }
      section.annotation-tool-section div.prototype-container div.to-annotate figure:nth-child(2) {
        top: 400px;
        left: 608px; }
      section.annotation-tool-section div.prototype-container div.to-annotate figure:nth-child(3) {
        top: 954px;
        left: 568px; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
